.foods-div{
    /* background-color: antiquewhite; */
}

.foods{
    /* background-color: rgb(251, 18, 57) !important; */
}


/* .food-btn{
    background-color: white;
    margin: 50px 30px;
    border: none;
    font-weight: 700;
    font-size: 25px;
    position: relative;
} */
/* .food-btn::before{
    position: absolute;
    content: '';
    height: 4px;
    bottom: -5px; 
} */
/* .food-btn:hover:before {
    width: 90%;
    background: rgb(186, 239, 255);
}
 */
/* .active, .food-btn:hover {
    background-color: rgb(251, 0, 0);
    color: white;
} */

.food-btn{
    font-weight: 700;
    font-size: 20px;
    border: none;
}
.active, .food-btn:hover {
    /* background-color: rgb(255, 0, 0) !important; */
    /* color: rgb(255, 255, 255) !important; */
    text-decoration: underline;
    color: red !important;
}

.grandma-grid{
    /* background-color: rgb(179, 220, 236); */
    /* background-color: rgba(179, 220, 236, 0.526); */
    /* border-radius: 50px !important; */
}
.parent-grid{
    /* background-color: rgb(85, 165, 42) !important; */
    /* padding: 0 !important; */
}
.child-grid{
    /* padding: 0px !important; */
    /* padding: 30px !important; */
}
.grid-div{
    /* background-color: rgb(179, 220, 236); */
    /* background-color: deeppink !important; */
    border: px solid rgb(235, 248, 255);
    text-align: center;
    /* height: 500px; */
    padding: 10px 40px;
    border-radius: 15px;

    /* box-shadow: inset 0 0 10px; */
    /* box-shadow: -5px -5px 10px; */
    /* box-shadow: inset 0 0 5px 5px olive; */
    /* box-shadow: 20px 10px; */
    /* box-shadow: 5px 5px 10px; */
    /* box-shadow: 5px 5px 20px; */
    
    /* box-shadow: -10px -10px 7px 0px rgb(249, 252, 253), 10px 10px 7px 0px rgb(147, 166, 173); */
    /* box-shadow: -5px -5px 4px 2px rgb(229x, 239, 240), 5px 5px 4px 2px rgb(122, 138, 143); */
    box-shadow: -5px -5px 2px 0px rgba(166, 180, 187, 0.123), 5px 5px 4px 2px rgba(132, 144, 147, 0.793);
}
.grid-div:hover{
    box-shadow: -5px -5px 5px 2px rgba(166, 180, 187, 0.123), 5px 5px 5px 4px rgba(132, 144, 147, 0.793);
}
.food-info{
    /* background-color: aqua; */
    margin-top: 30px !important;
    padding-bottom: 20px;
}
.grandma-grid h6{
    color: rgb(8, 22, 52);
    font-size: 20px;
    margin: 2px;
}
.grid-div p{
    color: gray;
    font-size: 15px;
    margin-bottom: 10px;
}
.grid-div h5{
    /* color: red; */
    /* font-size: 25px; */
}

#myDIV{
    /* background-color: aqua; */
    margin: 50px 0px;
}
.input-username{
    border: 2px solid rgb(1, 187, 47);
    background-color: rgb(235, 249, 254);
    border-radius: 10px;
    padding: 12px 10px;
    margin: 5px 5px;
    font-size: 14px;
    box-shadow: inset 10px 10px 10px rgb(147, 166, 173);
}
.details-button{
    background-color: red;
    color: white;
    border-radius: 3px;
    border: none;
    font-size: 15px;
    padding: 5px 20px;
}

.check-out-button{
    background-color: rgb(163, 163, 163);
    color: rgb(239, 239, 239);
    margin: 80px 0px 120px 0px;
    border: none;
    border-radius: 5px;
    padding: 10px 70px;
    font-size: 16px;
    /* line-height: 28px; */
}

.actives{
    color: blueviolet;
    background-color: aquamarine;
}


@media (min-width: 1350px) { 
    .grandma-grid{
        /* background-color: rgb(172, 230, 210) !important; */
        max-width: 1280px !important;
        margin: auto !important;
    }
    
}
@media (max-width: 1350px) { 
    .grandma-grid{
        /* max-width: 90% !important; */
        margin: auto !important;
    }
    
}
@media (min-width: 800px) { 
    .grandma-grid{
        /* padding: 0 15%; */
    }
    
}


@media (max-width: 599px) { 
        .grandma-grid{
            /* background-color: rgb(0, 195, 255) !important; */
            max-width: 100% !important;
            margin: auto !important;
        }
        
}
