.nav-bar{
    padding: 15px 0px 15px 20px !important;
    margin: 0 !important;
}
.brand-image{
    min-width: 20px !important;
    max-width: 150px !important;
    /* background-color: greenyellow; */
}
.top-user-name{
    color: rgb(0, 195, 255);
    margin: 0px 0px 0px 0px;
    padding: 0 5px;
}

@media (min-width: 1400px){
    .top-user-name{
        margin: 13px 0px 0px 0px;
    }
}